/* Normalization */

*{
    margin: 0;
    padding: 0;
}

/* Navigation */

.nav-fix{
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    background: #353941;
}

.nav-fix .container{
    display: flex;
    align-items: center;
}

.nav-brand{

}

.brand-img{
    width: 100px;
    height: auto;
}

.nav-search{
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: .75rem 1rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: 2rem;
}

.nav-search input[type="text"]{
    border: none;
    outline: none;
    margin-left: .25rem;
}

.nav-items{
    display: flex;
}

.nav-item{
    height: fit-content;
    padding: .25rem 2rem;
    border-right: 1px solid #e3e7eb;
}

.nav-item{
    color: #ffffff;
}

/* Container */

.container{
    width: 90vw;
    height: fit-content;
    margin: auto;
}